{% extends 'base.html' %}

{% block content %}
<hr>
<div class="block">
    <h4>
        <span class="key">Email:</span>
        <p class="block">mailabhipowar@gmail.com</p>

        <span class="key">Phone number: </span>
        <p class="block">8549038621:</p>


        <span class="key">LinkedIn:</span>
        <p class="block"><a class="bankadrs"  style="color:#14a76c;" href="http://linkedin.com/in/abhishek-powar-4398b3171/">http://linkedin.com/in/abhishek-powar-4398b3171/</a>
        </p>
    </h4>
</div>
<hr>
{% endblock %}
